@model FizzBuzzMVC.Models.FizzBuzzModel


<div class="container">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col col-md-4">
            <h2>Fizz Buzz: A javascript coding project</h2>
            <h5 class="lead">
                When it counts you Fizz Buzz. A Javascript coding exercise using loops.
                This program prints the numbers from 1 to 100 and for multiples of a Fizz Values displays
                'Fizz' instead of the number and for the multiples of a Buzz displays 'Buzz'. If it is a  multiple
                of both, displays "FizzBuzz".
            </h5>
            <h2 class="border-bottom border-1" style="margin-top:50px">Instructions</h2>
            <h5 class="lead">
                Enter the Fizz (first input) and Buzz (second input) values, then press the button to see the values appear.
            </h5>
        </div>
        <div class="col col-md-8">
            <div>
                <h5>Enter Values</h5>

                <form class="row gy-2" asp-action="Index" asp-controller="Fizzbuzz" method="post">
                    <div class="col">
                        <input asp-for="FirstNumber" name="FirstNumber" type="Number" id="startValueInput" class="form-control"
                               value="@Model.FirstNumber" min="1">
                    </div>

                    <div class="col">
                        <input asp-for="LastNumber" name="LastNumber" type="Number" id="endValueInput" class="form-control"
                               value="@Model.LastNumber" max="100">
                    </div>

                    <div class="col-12 d-flex">
                        <button type="submit" id='btnSubmit' class="btn btn-dark btn-lg">
                            Fizz The Buzz
                        </button>
                    </div>

                </form>

                <h2 class="border-bottom border-1">Results</h2>
                <div class="table-responsive">
                    

                    <table class="table table-striped table-hover table-dark table-sm">
                        <thead>
                            <tr>
                                <td colspan="5">FizzBuzz Results</td>
                            </tr>
                        </thead>

                        @if (@Model.Results.Count() > 0)
                        {


                            @for (int i = 0; i < @Model.Results.Count(); i += 5)
                            {
                                <tr>

                                    <td>@Model.Results[i] </td>


                                    @if (i + 1 < Model.Results.Count())
                                    {
                                        <td>@Model.Results[i + 1]</td>

                                    }

                                    @if (i + 2 < Model.Results.Count())
                                    {
                                        <td>@Model.Results[i + 2]</td>

                                    }

                                    @if (i + 3 < Model.Results.Count())
                                    {
                                        <td>@Model.Results[i + 3]</td>

                                    }

                                    @if (i + 4 < Model.Results.Count())
                                    {
                                        <td>@Model.Results[i + 4]</td>

                                    }

                                </tr>
                            }


                        }

                    </table>
                </div>
            </div>

        </div>
    </div>

</div>


